@model IEnumerable<WebELearning.Models.Course>
@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <ul>
        @foreach(var c in Model)
        {
            <li>
                @c.Category.Name-@c.DateTime 
            </li>
        }
    </ul>
</div>   